Task1

In [31]:
import mysql.connector as connector

In [32]:
connection = connector.connect(user = "root", password = "yahianaim2002", db = "little_lemon_db")

task2

In [33]:
cursor = connection.cursor()

In [34]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [35]:
results = cursor.fetchall()

In [36]:
print(results)

[('bookings',), ('customers',), ('employees',), ('menu_items',), ('menus',), ('orders',), ('ordersview',)]

task3

In [37]:
customers = """ SELECT c.full_name, o.cost
                FROM Customers c
                Join Orders o on o.customer_id = o.customer_id
                where o.cost > 60;"""

In [38]:
cursor.execute(customers)

In [39]:
results = cursor.fetchall()

In [40]:
print(results)

[('Peter Smith', 70), ('Jane Doe', 70), ('John Doe', 70), ('Peter Smith', 80), ('Jane Doe', 80), ('John Doe', 80), ('Peter Smith', 90), ('Jane Doe', 90), ('John Doe', 90), ('Peter Smith', 100), ('Jane Doe', 100), ('John Doe', 100), ('Peter Smith', 90), ('Jane Doe', 90), ('John Doe', 90), ('Peter Smith', 80), ('Jane Doe', 80), ('John Doe', 80), ('Peter Smith', 70), ('Jane Doe', 70), ('John Doe', 70)]